/* Fonts */
@font-face {
    font-family: 'Nunito';
    src: url('/resources/fonts/Nunito-Font.ttf') format('truetype');
}

/* Reset styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #552c34;
}

/* Common styles for images */
img {
    border-radius: 24px;
}

/* Default padding for sections */
.default-padding {
    padding: 64px;
}

.default-padding h1 {
    font-size: 2em;
    margin: 0;
}

/* Header and Content Container styles */
.header-container,
.content-container {
    display: flex;
    min-height: 100vh;
    background: #552c34;
    border-radius: 24px;
}

.content-container .logo {
    object-fit: cover;
    width: 25vw;
    max-height: 100vh;
    z-index: 1;
    padding: 0;
}

.header-container img,
.header-container .main {
    object-fit: cover;
    width: 40vw;
    max-height: 100vh;
    border-radius: 0;
}

.header-container .main {
    border-radius: 0;
}

.header-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding-left: 2%;
    width: 55%;
    color: white;
}

.header-container div img {
    object-fit: scale-down;
    width: 55%;
    margin-top: 40px;
    align-self: flex-start;
    height: auto;
}

.header-container div h1 {
    font-size: 2em;
    margin-bottom: 8px;
    padding-left: 3%;
}

.header-container div p {
    font-size: 1em;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 3%;
}

.header-container div div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
}

.header-container div div a {
    text-decoration: none;
    color: white;
    padding: 8px;
    outline: 1px solid white;
    border: none;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}

.header-container div div a:hover {
    background-color: white;
    color: black;
    outline: 1px solid transparent;
}

/* Content Container background animation */
.content-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    color: white;
    position: relative;
    overflow: hidden;
    animation: slideAnimation 130s both infinite;
    border-radius: 0;
}

.content-container {
    background: url("/resources/img/20231122_142337.png") center/cover no-repeat;
}

.content-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(56, 44, 46, 0.73) 0%, rgba(0, 0, 0, 0) 54%, rgba(82, 55, 17, 0.27) 100%);
}

@keyframes slideAnimation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.content-container p,
.content-container h1 {
    padding: 0;
    margin: 0;
    z-index: 1;
}

.content-container button {
    width: max-content;
    margin-top: 64px;
    margin-bottom: 10px;
    z-index: 1;
    padding: 14px;
    background-color: white;
    border: none;
    border-radius: 14px;
    color: #44232a;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.content-container button:hover {
    transform: scale(1.2);
}

/* Top Bar styles */
.top-bar {
    width: 100%;
    background-color: #44232a;
    color: white;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0 0 8px 8px;
    justify-content: center;
}

.top-bar a {
    margin: 4px;
    background-color: transparent;
    border-radius: 12px;
    padding: 8px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.top-bar img {
    margin: 4px;
    width: 60px;
}

.top-bar a:hover {
    background-color: white;
    outline: white;
    color: black;
}

/* Two Columns Responsive layout */
.two-columns-responsive {
    display: flex;
    align-items: center;
}

.two-columns-responsive div {
    width: 50%;
    margin: 28px;
}

.two-columns-responsive div p {
    text-align: justify;
    margin-left: 36px;
}

.two-columns-responsive div img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Grid List styles */
.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 16px;
}

/* Page Transition styles */
.page {
    transition: opacity 0.5s ease-in-out;
    background-color: white;
}

/* Card styles */
.card {
    height: max-content;
    outline: 1px solid #44232a;
    border-radius: 24px;
    overflow: hidden;
    padding-bottom: 4px;
    background: none;
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card h3,
.card p {
    padding-left: 8px;
    padding-right: 8px;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}
/* Destaque Container */
.destaqueContainer,
.destaqueContainerVariant {
    position: relative;
    height: 0;
    overflow: hidden;
    border-radius: 24px;
    overflow: hidden;
    margin-top: 28px;
    transition: transform 0.9s linear;
    padding-bottom: 60%; /* Relação de aspecto 3:2 (ajuste conforme necessário) */
}
.destaqueContainerVariant {
    padding-bottom: 0;
}

.destaqueContainer img,
.destaqueContainerVariant img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.destaqueContainer::before,
.destaqueContainerVariant::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.destaqueContainer:hover h1 {
    opacity: 0;
}
.destaqueContainer:hover img,
.destaqueContainerVariant:hover img {
    transform: scale(1.2);
}

.destaqueContainer h1,
.destaqueContainerVariant h1 {
    margin: 0;
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 20px; /* Ajuste conforme necessário */
    font-size: 3em;
    z-index: 2;
    color: #ffffff;
    transition: opacity 1s ease-in-out;
}

.destaqueContainer h1 small,
.destaqueContainerVariant h1 small {
    font-size: 0.5em;
}



/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 24px;
    }

    .header-container img,
    .header-container .main {
        object-fit: cover;
        width: 100%;
        height: 30vh;
        border-radius: 24px;
    }

    .header-container div img {
        height: auto;
        width: 60vw;
    }

    .header-container div h1 {
        font-size: x-large;
    }

    .header-container div {
        padding-left: 16px;
        padding-right: 8px;
    }

    .two-columns-responsive div p {
        text-align: start;
        margin: 0;
    }

    .two-columns-responsive {
        flex-direction: column;
    }

    .two-columns-responsive div {
        width: 100%;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .two-columns-responsive p {
        width: 100%;
        margin: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .two-columns-responsive div img {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: start;
    }

    .grid-list {
        padding: 0;
        margin: 0;
    }

    .default-padding {
        padding: 24px;
    }

    .card {
        margin: 0;
    }

    .card img {
        max-height: 180px;
    }

    .card:hover {
        transform: scale(1);
    }

    .destaqueContainer {
        width: 100%;
        margin-top: 8px;
        margin-bottom: none;
        height: max-content;
    }
    .destaqueContainer h1 {
        font-size: 2em;
    }
    .grid-list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}